
.menue-Button{
    -fx-background-color: rgba(176, 255, 29, 0.57);
    -fx-background-radius: 100px;
    -fx-border-radius: 100px;
    -fx-border-color: rgb(255, 150, 0);
    -fx-border-width: 1px;
}